<html lang="en">
<head>
<meta charset="UTF-8">
<title>User Information Form</title>
</head>


<body>
<form action="" method="POST">
{% csrf_token %}
First name: <input type="text" name="Firstname" value= '{% if submitbutton == "Submit" %} {{ firstname }} {% endif %}'/><br><br>
Last name: <input type="text" name="Lastname" value= '{% if submitbutton == "Submit" %} {{ lastname }} {% endif %}'/><br><br>
City: <input type="text" name="City" value= '{% if submitbutton == "Submit" %} {{ city }} {% endif %}'/><br><br>
State: <input type="text" name="State" value= '{% if submitbutton == "Submit" %} {{ state }} {% endif %}'/><br><br>
<input type="Submit" name="Submit" value="Submit"/>
</form>


{% if submitbutton == "Submit"  %}
<h1> Your first name is {{ firstname }}</h1>
<h1> Your last name is {{ lastname }}</h1>
<h1> Your city is {{ city }} </h1>
<h1> Your state is {{ state }} </h1>
{% endif %}


</body>
<script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script></html>